
<form #formularioRegistro="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" [(ngModel)]="teacher.name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="name">
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" name="surname" [(ngModel)]="teacher.surname" class="form-control" id="surname" placeholder="surname">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" [(ngModel)]="teacher.email" class="form-control" id="email" placeholder="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="teacher.password" class="form-control" id="password" placeholder="Password">
  </div>
  <button (click)="getData()" class="btn btn-primary">Obtener Data</button>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
