
<h1>{{ titulo }}</h1>
<hr>

<hr>
<p>
    Nombre de ubicacion:
    <input type="text" [(ngModel)]="nombreDeUbicacion" (keyup)="mostrarNombre()" >
</p>
<p>
    Resultado: {{nombreDeUbicacion}}
</p>


Hijo

<div *ngIf="miUbicacion" class="alert alert-dark" role="alert">
        <h4>Datos de la ubicacion traidos desde el hijo</h4>
            <ol>
                <li> {{ miUbicacion.nombre }} </li>
            </ol>
    </div>




<p *ngIf="nombreDeUbicacion">
<ubicacion [nombre]="nombreDeUbicacion"(pasameLosDatos)="verDatosUbicacion($event)">
    
 
</ubicacion>
</p>
<hr>